.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 20px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px
}
.cat1{
    background-color: orange;
    padding: 10px 30px;
    background-image: linear-gradient(to bottom, orange 0%, rgb(228, 202, 154) 100%);
    border-radius: 10px;
}
.cat2{
    background-color: orchid;
    padding: 10px 30px;
    background-image: linear-gradient(to bottom, rgb(255, 0, 212) 0%, rgb(223, 190, 215) 100%);
    border-radius: 10px;
}
.cat3{
    background-color: blue;
    padding: 10px 30px;
    background-image: linear-gradient(to bottom, rgb(25, 0, 255) 0%, rgb(211, 208, 238) 100%);
    border-radius: 10px;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
}
.card-footer{
    background-color: white;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: gray;
}
footer{
    text-align: center;
}